<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/2x3.png" alt="Aditya Pratama" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Aditya Pratama</h1>
            <p class="lead">Mahasiswa | Programmer</p>
        </div>
    </div>
</div>